
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="~/static/layui-v2.6.4/layui-v2.6.4/layui/css/layui.css" />
    <style>
        .layui-btn {
            background-color: #1e9fff;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #1e9fff;
        }

        .layui-laydate .layui-this {
            background-color: #1e9fff;
        }
    </style>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item" style="margin-left:10px;">
            <div class="layui-inline">
                <input type="text" name="Staff_id" placeholder="请输入需要查询的员工的工号" autocomplete="off" class="layui-input Staff_id" style="margin-top: 25px; width:200px;position: absolute;">
                <input type="text" name="Staff_Name" placeholder="请输入需要查询员工名" autocomplete="off" class="layui-input Staff_Name" style="margin-top: 25px; width:200px;margin-left: 225px;">
                <input type="text" name="Store_Name" placeholder="请输入需要店铺名称" class="layui-input Store_Name" style="margin-top: -39px; width:200px;margin-left: 456px;">

                <input type="text" name="WR_remarks" placeholder="请输格式为20xx-0x查询" autocomplete="off" class="layui-input WR_remarks" style="margin-top: 10px; width:200px;margin-left: 225px;">
            </div>
            <div style="width: 200px; margin-top: -44px;">
                <select name="pay_of" lay-search class="pay_of">
                    <option></option>
                    <option>未发</option>
                    <option>已发</option>
                </select>
            </div>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="searche_btnS" >搜索</button>
        </div>
    </form>

    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="toolbarDemo1">
        <a class="layui-btn layui-btn-sm" lay-event="delBtn" id="delBtn">批量发工资</a>
        <a class="layui-btn layui-btn-sm" lay-event="shua" id="shua">刷新</a>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">发工资</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style=" background-color: #FF5722;">删除</a>
    </script>

    <script src="~/static/layui-v2.6.4/layui-v2.6.4/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        layui.use(['table', 'form', 'jquery', 'layer', 'laydate'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var table = layui.table;
            var form = layui.form;
            

          
            //考勤记录表
            //表格加载
            table.render({
                elem: "#test",
                id: 'test',
                url: '/Wages/WagesSet',
                method: 'get',
                toolbar: '#toolbarDemo1',
                title: '奖金设置表',

                totalRow: false//开启合计行
                , cols: [[
                    { type: 'checkbox', fixed: 'left', },
                    { field: 'WR_id', title: '工资序号', width: 50., fixed: 'left', sort: true },
                    { field: 'Staff_id', title: '工号' },
                    { field: 'Staff_Name', title: '员工', sort: true },
                    { field: 'Store_Name', title: '店铺' },
                    { field: 'GradeName', title: '等级' },
                    { field: 'Grade_price', title: '基本工资', sort: true },
                    { field: 'SubsidyAmount', title: '补贴总金额', sort: true },
                    { field: 'WR_Bonus', title: '奖金总额', sort: true },
                    { field: 'Deduction', title: '考勤扣款', sort: true },
                    { field: 'Real_Wage', title: '应发工资', sort: true },
                    { field: 'WR_Pay', title: '实发工资', sort: true },
                    { field: 'WR_remarks', title: '月份', sort: true },
                    { field: 'pay_of', title: '工资发放', sort: true },
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                ]]
                , page: true
            });

            //指定行 删除修改
            table.on('tool(test)', function (obj) {
                console.log(obj);
                var layEvent = obj.event;//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if (layEvent === 'del') {
                    var checkStatus = table.checkStatus('test'),
                        //返回行的value
                        data = checkStatus.data;
                    if (data.length > 1) {
                        layer.msg('只能选择您需要删除的那一行喔亲！');
                    }
                    else {
                        var id = obj.data.Staff_id;
                        layer.confirm('您确定删除这条奖金纪录吗？' + id, { icon: 1, title: '提示信息', anim: 6 }, function (index) {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                            //向服务器发送删除指令
                            $.ajax({
                                url: "/Wages/WagesSell",
                                data: { id: id },
                                type: "post",
                                success: function (res) {
                                    if (res === 'True') {
                                        layer.msg('删除成功！');
                                        document.getElementsByClassName("layui-laypage-btn")[0].click();
                                    }
                                }
                            });
                        });
                    }
                }
                else if (layEvent == 'edit') {
                    var checkStatus = table.checkStatus('test'),
                        //返回行的value
                        data = checkStatus.data;
                    if (data.length > 1) {
                        layer.msg('只能选择您需要删除的那一行喔亲！');
                    }
                    else {
                        var id = obj.data.Staff_id;
                        layer.confirm('您确定发关于后面工号的工资吗？' + id, { icon: 1, title: '提示信息', anim: 6 }, function (index){
                            layer.close(index);
                            //向服务器发送删除指令
                            $.ajax({
                                url: "/Wages/Wagesgongzi",
                                data: { id: id },
                                type: "post",
                                success: function(res){
                                    console.log(res);
                                    if (res === 'True') {
                                        layer.msg('发送工资成功！');
                                        document.getElementsByClassName("layui-laypage-btn")[0].click();
                                    }
                                   
                                }
                            });
                        });
                    }
                }
            });
            //根据奖金表名称查询
            form.on('submit(searche_btnS)', function (data) {
                console.log(data)
                var Staff_id = $(".Staff_id").val();
                var Staff_Name = $(".Staff_Name").val();
                var Store_Name = $(".Store_Name").val();
                var WR_remarks = $(".WR_remarks").val();
                var pay_of = $(".pay_of").val();
                table.reload('test', {
                    method: 'post',
                    url: '/Wages/WagesSelect',
                    toolbar: '#toolbarDemo1',
                    title: '奖金纪录表',
                    totalRow: false//开启合计行
                    , cols: [[
                        { type: 'checkbox', fixed: 'left', },
                        { field: 'WR_id', title: '工资序号', width: 50., fixed: 'left', sort: true },
                        { field: 'Staff_id', title: '工号' },
                        { field: 'Staff_Name', title: '员工', sort: true },
                        { field: 'Store_Name', title: '店铺' },
                        { field: 'GradeName', title: '等级' },
                        { field: 'Grade_price', title: '基本工资', sort: true },
                        { field: 'SubsidyAmount', title: '补贴总金额', sort: true },
                        { field: 'WR_Bonus', title: '奖金总额', sort: true },
                        { field: 'Deduction', title: '考勤扣款', sort: true },
                        { field: 'Real_Wage', title: '应发工资', sort: true },
                        { field: 'pay_of', title: '工资发放', sort: true },
                        { field: 'WR_remarks', title: '月份', sort: true },
                        { field: 'WR_Pay', title: '实发工资', sort: true },
                        , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                    ]]
                    , page: {
                        curr: 1// 重载后从第一页开始
                    },
                    where: {
                        Staff_id: Staff_id,
                        Staff_Name: Staff_Name,
                        Store_Name: Store_Name,
                        WR_remarks: WR_remarks,
                        pay_of: pay_of
                    }
                })
                return false;  // 阻止submit的表单提交
            });
            //添加 批量删除 刷新
            table.on("toolbar(test)", function (obj) {
                switch (obj.event) {
                    case "add":
                        layer.open({
                            title: '编辑',
                            type: 2,
                            anim: 2,
                            area: ['460px', '270px'],
                            content: "/CwaR/AddCwaR"
                        });
                        break;
                    case "delBtn":
                        //获得表格CheckBox已经选中的行的信息
                        var checkStatus = table.checkStatus('test'),
                            //返回行的value
                            data = checkStatus.data;
                        var arr = [];
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            arr.push(checkStatus.data[i].Staff_id)
                        }
                        if (data.length > 0) {
                            layer.confirm('您确定发工号为' + arr + '这些工号吗？', { icon: 3, title: '提示信息' }, function (index) {
                                $.ajax({
                                    url: "/Wages/RemoveW",
                                    type: "post",
                                    data: { id: arr },
                                    dataType: "Json",
                                    success: function (data) {
                                        console.log(data.state)
                                        if (data.state == "10000") {
                                            layer.msg('添加成功！');
                                            document.getElementsByClassName("layui-laypage-btn")[0].click();
                                        }
                                        else {
                                            layer.msg('工资已成功发送 请勿重复发送！');
                                        }
                                    },
                                    error: function () {
                                        layer.msg('工资发送失败！');
                                    }

                                })


                            });
                        }
                        else {
                            layer.msg('请选择需要删除的行！');
                        }

                        break;

                    case "shua":
                        table.reload('test', {
                            url: '/Wages/WagesSet'
                        });
                        break;
                }
            });

        });


    </script>
    <script>

    </script>
</body>

</html>
