
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="~/static/layui-v2.6.4/layui-v2.6.4/layui/css/layui.css" />
    <style>
        .layui-btn {
            background-color: #1e9fff;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #1e9fff;
        }

        .layui-laydate .layui-this {
            background-color: #1e9fff;
        }
        .layui-input, .layui-textarea {
            display: block;
            width: 200px;
            padding-left: 10px;
        }
    </style>
</head>
<body>
                <form class="layui-form" action="">
                    <div class="layui-form-item" style="margin-left:10px;">
                        <div class="layui-inline">
                            <input type="text" name="Staff_Name" placeholder="请输入需要查询员工名" autocomplete="off" class="layui-input Staff_Name" style="margin-top:25px;" >
                            <input type="text" name="Staff_id" placeholder="请输入需要查询工号" autocomplete="off" class="layui-input Staff_id" style=" margin-left: 225px; margin-top: -39px;" >
                            <input type="text" name="GradeName" placeholder="请输入需要查询等级名" autocomplete="off" class="layui-input CR_Frequency GradeName"style=" margin-left: 450px; margin-top: -39px;" >
                            <input type="text" name="Role_Name" placeholder="请输入需要查询权限名" autocomplete="off" class="layui-input CR_Frequency Role_Name" style=" margin-left: 675px; margin-top: -39px;" >
                            <input type="text" name="Dt_Name" placeholder="请输入需要查询部门名" autocomplete="off" class="layui-input CR_Frequency Dt_Name" style=" margin-top: 25px;" >
                            <input type="text" name="Store_Name" placeholder="请输入需要查询店铺名" autocomplete="off" class="layui-input CR_Frequency Store_Name" style=" margin-left: 225px; margin-top: -39px;" >
                            <input type="text" name="Staff_Address" placeholder="请输入需要查询的员工地址" autocomplete="off" class="layui-input CR_Frequency Staff_Address"style=" margin-left: 450px; margin-top: -39px;" >
                            <input type="text" name="Staff_Phone" placeholder="请输入需要查询的电话" autocomplete="off" class="layui-input CR_Frequency Staff_Phone"style=" margin-left: 675px; margin-top: -39px;" >
                            <input type="text" name="Sraff_State" placeholder="请输入需要查询员工的状态" autocomplete="off" class="layui-input CR_Frequency Sraff_State" style="margin-top:25px;">
                            <input type="text" name="Staff_Sex" placeholder="请输入需要查询员工的性别" autocomplete="off" class="layui-input CR_Frequency Staff_Sex"style=" margin-left: 225px; margin-top: -39px;" >
                            <input type="text" name="Staff_hiredate" id="Staff_hiredate1" autocomplete="off" placeholder="请输入需要查询的日期" class="layui-input"style=" margin-left: 450px; margin-top: -39px;"  >
                        </div>
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="searche_btnS">搜索</button>
                    </div>
                </form>

                <table class="layui-hide" id="Bounss" lay-filter="Bounss"></table>
                <script type="text/html" id="toolbarDemo1">
                    <a class="layui-btn layui-btn-sm" lay-event="add">添加员工</a>
                    <a class="layui-btn layui-btn-sm" lay-event="delBtn" id="delBtn" data-type="reload">批量删除</a>
                    <a class="layui-btn layui-btn-sm shua" lay-event="shua">刷新</a>
                </script>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style=" background-color: #FF5722;">删除</a>
                </script>
            

        
    
    <script src="~/static/layui-v2.6.4/layui-v2.6.4/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

          layui.use(['table', 'form', 'jquery', 'layer', 'laydate'], function () {
                                var $ = layui.jquery;
                                var layer = layui.layer;
                                var table = layui.table;
                                var form = layui.form;
                                var laydate = layui.laydate;

                                laydate.render({
                                    elem: '#Staff_hiredate'
                                });
                                laydate.render({
                                    elem: '#Staff_hiredate1'
                                });

                                //奖金记录表
                                //表格加载
                                table.render({
                                    elem: "#Bounss",
                                    id: 'Bounss',
                                    url: '/Staff/StaffSet',
                                    method: 'get',
                                    toolbar: '#toolbarDemo1',
                                    title: '奖金设置表',

                                    totalRow: false//开启合计行
                                    , cols: [[
                                        { type: 'checkbox', fixed: 'left', },
                                        { field: 'Staff_id', title: '工号', width: 120., fixed: 'left', sort: true },
                                        { field: 'Staff_Name', title: '员工' },
                                        { field: 'GradeName', title: '等级', sort: true },
                                        { field: 'Role_Name', title: '权限' },
                                        { field: 'Dt_Name', title: '部门' },
                                        { field: 'Store_Name', title: '店铺' },
                                        { field: 'Staff_Address', title: '住址' },
                                        { field: 'Staff_Phone', title: '电话' },
                                        { field: 'Sraff_State', title: '状态' },
                                        {
                                            field: 'Staff_Sex', title: '性别', width:80,sort:true,align:'center', templet: function (a) {
                                                var Staff_Sex = a.Staff_Sex ==0?"男":"女";
                                                return Staff_Sex;
                                            }
                                        },
                                        { field: 'Staff_Email', title: '邮箱' },
                                        {
                                            field: 'Staff_hiredate', title: '入职时间', templet(row) {
                                                var Staff_hiredate = row.Staff_hiredate;
                                                Staff_hiredate = Staff_hiredate.substring(0, Staff_hiredate.indexOf('T'));
                                                return Staff_hiredate;
                                            }
                                        }
                                        ,
                                        { field: 'Staff_Remark', title: '备注' },
                                        , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                                    ]]

                                    , page: true
                                });
                                //指定行 删除修改
                                table.on('tool(Bounss)', function (obj) {
                                    console.log(obj);
                                    var layEvent = obj.event;//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                                    if (layEvent === 'del') {
                                        var checkStatus = table.checkStatus('Bounss'),
                                            //返回行的value
                                            data = checkStatus.data;
                                        if (data.length > 1) {
                                            layer.msg('只能选择您需要删除的那一行喔亲！');
                                        }
                                        else {
                                            var id = obj.data.Staff_id;
                                            layer.confirm('您确定删除这条奖金纪录吗？' + id, { icon: 1, title: '提示信息', anim: 6 }, function (index) {
                                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                                layer.close(index);
                                                //向服务器发送删除指令
                                                $.ajax({
                                                    url: "/Staff/StaffSel",
                                                    data: { id: id },
                                                    type: "post",
                                                    success: function (res) {
                                                        if (res === 'true') {
                                                            layer.msg('删除成功！');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                    else if (layEvent == 'edit') {
                                        var checkStatus = table.checkStatus('Bounss'),
                                            //返回行的value
                                            data = checkStatus.data;
                                        if (data.length > 2) {
                                            layer.msg('只能选择您需要编辑的那一行喔亲！');
                                        }
                                        var id = obj.data.Staff_id;
                                        layer.open({

                                            title: '编辑',
                                            type: 2,
                                            anim: 1,
                                            area: ['600px', '600px'],
                                            content: "/Staff/EditStaff?id=" + id
                                        });
                                    }
                                });
                                //根据奖金表名称查询
                                form.on('submit(searche_btnS)', function (data) {

                                    var Staff_Name = $(".Staff_Name").val();
                                    var Staff_id = $(".Staff_id").val();
                                    var Staff_hiredate = $("#Staff_hiredate1").val();
                                    var GradeName = $(".GradeName").val();
                                    var Role_Name = $(".Role_Name").val();
                                    var Dt_Name = $(".Dt_Name").val();
                                    var Store_Name = $(".Store_Name").val();
                                    var Staff_Address = $(".Staff_Address").val();
                                    var Staff_Phone = $(".Staff_Phone").val();
                                    var Staff_Sex = $(".Staff_Sex").val();
                                  
                                    var Sraff_State = $(".Sraff_State").val();
                               
                                    table.reload('Bounss', {
                                        method: 'post',
                                        url: '/Staff/StaffSelect',
                                        toolbar: '#toolbarDemo1',
                                        title: '奖金纪录表',
                                        totalRow: false//开启合计行
                                        , cols: [[
                                        { type: 'checkbox', fixed: 'left', },
                                        { field: 'Staff_id', title: '工号', width: 120., fixed: 'left', sort: true },
                                        { field: 'Staff_Name', title: '员工' },
                                        { field: 'GradeName', title: '等级', sort: true },
                                        { field: 'Role_Name', title: '权限' },
                                        { field: 'Dt_Name', title: '部门' },
                                        { field: 'Store_Name', title: '店铺' },
                                        { field: 'Staff_Address', title: '住址' },
                                        { field: 'Staff_Phone', title: '电话' },
                                        { field: 'Sraff_State', title: '状态' },
                                        {
                                            field: 'Staff_Sex', title: '性别', width:80,sort:true,align:'center', templet: function (a) {
                                                var Staff_Sex = a.Staff_Sex ==0?"男":"女";
                                                return Staff_Sex;
                                            }
                                        },
                                        { field: 'Staff_Email', title: '邮箱' },
                                        {
                                            field: 'Staff_hiredate', title: '日期', templet(row) {
                                                var Staff_hiredate = row.Staff_hiredate;
                                                Staff_hiredate = Staff_hiredate.substring(0, Staff_hiredate.indexOf('T'));
                                                return Staff_hiredate;
                                            }
                                        }
                                        ,
                                        { field: 'Staff_Remark', title: '备注' },
                                        , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                                    ]]
                                        , page: {
                                            curr: 1// 重载后从第一页开始
                                        },
                                        where: {
                                            Staff_Name: Staff_Name,
                                            Staff_id: Staff_id,
                                            Staff_hiredate: Staff_hiredate,
                                            GradeName: GradeName,
                                            Role_Name: Role_Name,
                                            Dt_Name: Dt_Name,
                                            Store_Name: Store_Name,
                                            Staff_Address: Staff_Address,
                                            Staff_Phone: Staff_Phone,
                                            Sraff_State: Sraff_State,
                                            Staff_Sex:Staff_Sex,
                                            
                                        }
                                    })
                                    return false;  // 阻止submit的表单提交
                                });
                                //添加 批量删除 刷新
                                table.on("toolbar(Bounss)", function (obj) {
                                    switch (obj.event) {
                                        case "add":
                                            layer.open({
                                                title: '编辑',
                                                type: 2,
                                                anim: 2,
                                                area: ['600px', '600px'],
                                                content: "/Staff/AddStaff"
                                            });
                                            break;
                                        case "delBtn":
                                            //获得表格CheckBox已经选中的行的信息
                                            var checkStatus = table.checkStatus('Bounss'),
                                                //返回行的value
                                                data = checkStatus.data;
                                            var arr = [];
                                            for (var i = 0; i < checkStatus.data.length; i++) {
                                                arr.push(checkStatus.data[i].Staff_id)
                                            }
                                            if (data.length > 0) {
                                                layer.confirm('您确定删除序号为' + arr + '这些纪录吗？', { icon: 3, title: '提示信息' }, function (index) {
                                                    $.ajax({
                                                        url: "/Staff/Remove",
                                                        type: "post",
                                                        data: { id: arr },
                                                        dataType: "Json",
                                                        success: function (data) {
                                                            console.log(data.state)
                                                            if (data.state == "10000") {
                                                                layer.msg('删除成功！');

                                                                table.reload('Bounss', {
                                                                    url: '/Staff/StaffSet'
                                                                });
                                                            }
                                                            else {
                                                                layer.msg('删除失败！');
                                                            }
                                                        },
                                                        error: function () {
                                                            layer.msg('删除失败！');
                                                        }
                                                    })
                                                });
                                            }
                                            else {
                                                layer.msg('请选择需要删除的行！');
                                            }
                                            break;
                                        case "shua":
                                            table.reload('Bounss', {
                                                url: '/Staff/StaffSet'
                                            });
                                            break;
                                    }
                                });

                            });


    </script>
</body>

</html>
