
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="~/static/layui-v2.6.4/layui-v2.6.4/layui/css/layui.css" />
   <style>
       .layui-btn {
           background-color: #1e9fff;
       }
       .layui-laypage .layui-laypage-curr .layui-laypage-em {
           background-color: #1e9fff;
       }
       .layui-laydate .layui-this {
           background-color: #1e9fff;
       }
       .layui-input-block {
           margin-left: 110px;
           min-height: 36px;
           margin-top: 15px;
       }
       .layui-btn {
           background-color: #1e9fff;
       }
   </style>
</head>
<body>
    <div class="layui-tab page-content-wrap">
        <ul class="layui-tab-title">
            <li class="layui-this" style="margin-left:10px;">奖金管理</li>
            <li >奖金纪录</li>
        </ul>

        <div class="layui-tab-content">
            @*奖金管理模块*@
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="">
                    <div class="layui-form-item" style="margin-top: 10px;">
                        <div class="layui-inline">
                            <input type="text" name="BonusName" id="BonusName" required lay-verify="required" placeholder="请输入奖金名称" autocomplete="off" class="layui-input" style="margin-left:10px;width:200px;">
                        </div>
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="searche_btn" style="margin-top:-5px">搜索</button>
                    </div>
                </form>
                <table class="layui-hide" id="test" lay-filter="test"></table>
                <script type="text/html" id="toolbarDemo1">
                    <a class="layui-btn layui-btn-sm" lay-event="add">添加奖金</a>
                    <a class="layui-btn layui-btn-sm" lay-event="delBtn" id="delBtn" data-type="reload">批量删除</a>
                    <a class="layui-btn layui-btn-sm" lay-event="shua" id="shua">刷新</a>
                </script>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style=" background-color: #FF5722;">删除</a>
                </script>
            </div>
            @*奖金记录模块*@
        <div class="layui-tab-item">
            <form class="layui-form" action="">
                <div class="layui-form-item" style="margin-left:10px;">
                    <div class="layui-inline">
                        <input type="text" name="BonusName" placeholder="请输入需要查询奖金名" autocomplete="off" class="layui-input BonusName" style="margin-top: 10px; width:200px;position: absolute;">
                        <input type="text" name="Staff_id" placeholder="请输入需要查询员工序号" autocomplete="off" class="layui-input Staff_id" style="margin-top: 10px; width:200px;margin-left: 225px;">
                        <input type="text" name="CR_date" id="CR_date" autocomplete="off" placeholder="输入格式为2020-01年月查询" class="layui-input" style="margin-top: -39px; width:200px;margin-left: 456px;">
                        
                    </div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="searche_btnS" style="margin-top:5px;">搜索</button>
                </div>
            </form>

            <table class="layui-hide" id="Bounss" lay-filter="Bounss"></table>
            <script type="text/html" id="toolbarDemo1">
                <a class="layui-btn layui-btn-sm" lay-event="add">添加奖金纪录</a>
                <a class="layui-btn layui-btn-sm" lay-event="delBtn" id="delBtn" data-type="reload">批量删除</a>
                <a class="layui-btn layui-btn-sm shua" lay-event="shua">刷新</a>
            </script>

            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style=" background-color: #FF5722;">删除</a>
            </script>
        </div>

        </div>
    </div>
        <script src="~/static/layui-v2.6.4/layui-v2.6.4/layui/layui.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script>
           
            layui.use(['table', 'form', 'jquery','layer','laydate'], function () {
                var $ = layui.jquery;
                var layer = layui.layer;
                var table = layui.table;
                var form = layui.form;
                var laydate = layui.laydate;

                //奖金管理
                //表格加载
                table.render({
                    elem: "#test",
                    id: 'test',
                   url: '/Bouns/BounsSet',
                    method: 'get',
                  
                   toolbar: '#toolbarDemo1',
                    title: '奖金设置表',
                  
                    totalRow: false//开启合计行
                    , cols: [[
                        { type: 'checkbox', fixed: 'left',},
                        { field: 'Bonus_Id', title: '奖金编号', width: 100, fixed: 'left',sort: true},
                        { field: 'BonusName', title: '奖金名称' },
                        { field: 'Bonus_pirce', title: '奖金金额', sort: true  },
                        , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                    ]]
                       , page: true
                });
                //指定行 删除修改
                table.on('tool(test)', function (obj) {
                    console.log(obj);
                    var layEvent = obj.event;//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    if (layEvent === 'del') {
                        var checkStatus = table.checkStatus('test'),
                            //返回行的value
                            data = checkStatus.data;
                        if (data.length >1) {
                            layer.msg('只能选择您需要删除的那一行喔亲！');
                        }
                        else {
                            var id = obj.data.Bonus_Id;
                            layer.confirm('您删除后所有关于这条奖金名的奖金记录将会被全部删除，确定删除这条奖金名参数吗？' + id, { icon: 1, title: '提示信息', anim: 6 }, function (index) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存

                                layer.close(index);
                                //向服务器发送删除指令
                                
                                $.ajax({
                                    url: "/Bouns/BounsSel",
                                    data: { id: id },
                                    type: "post",
                                    success: function (res) {
                                        if (res === 'true') {
                                            layer.msg('删除成功！');
                                        }
                                    }
                                });


                            });
                        }
                        

                    }
                    else if (layEvent == 'edit') {
                        var checkStatus = table.checkStatus('test'),
                            //返回行的value
                            data = checkStatus.data;
                        if (data.length > 2) {

                        }
                        var id = obj.data.Bonus_Id;
                        layer.open({
                            title: '编辑',
                            type: 2,
                            anim: 1,
                            area: ['460px', '290px'],
                            content: "/Bouns/EditBonus?id="+id
                        });
                    }
                });
                //根据奖金表名称查询
                form.on('submit(searche_btn)', function (data) {
                    var da = $("#BonusName").val();
                    table.reload('test', {
                        method: 'post',
                        url: '/Bouns/BounsSelect',
                        toolbar: '#toolbarDemo1',
                        title: '奖金设置表',
                        totalRow: false//开启合计行
                        , cols: [[
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'Bonus_Id', title: '奖金编号', width: 80, fixed: 'left' },
                            { field: 'BonusName', title: '奖金名称' },
                            { field: 'Bonus_pirce', title: '奖金金额' },
                            , { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                        ]]
                        , page: {
                            curr: 1// 重载后从第一页开始
                        },
                        where: {
                            BonusName: da
                        }
                    })
                    return false;  // 阻止submit的表单提交
                });
                //添加 批量删除 刷新
                table.on("toolbar(test)", function (obj) {
                    switch (obj.event) {
                        case "add":
                            layer.open({
                                title: '编辑',
                                type: 2,
                                anim: 2,
                                area: ['460px', '270px'],
                                content: "/Bouns/AddBonus"
                            });
                            break;
                        case "delBtn":
                            $('#delBtn').on('click', function () {
                                //获得表格CheckBox已经选中的行的信息
                                var checkStatus = table.checkStatus('test'),
                                    //返回行的value
                                    data = checkStatus.data;
                               
                                var arr = [];
                             
                                for (var i = 0; i < checkStatus.data.length; i++) {
                                    arr.push(checkStatus.data[i].Bonus_Id)
                                }
                                if (data.length > 0) {
                                    layer.confirm('您删除后所有关于这些奖金序号的奖金名的奖金记录将会被全部删除，确定删除这些奖金序号的奖金名称吗？' + arr, { icon: 3, title: '提示信息' }, function (index) {


                                        $.ajax({
                                            url: "/Bouns/Remove",
                                            type: "post",
                                            data: { id: arr },
                                            dataType: "Json",
                                            success: function (data) {
                                                console.log(data.state)
                                                if (data.state == "10000") {
                                                    layer.msg('删除成功！');
                                                    location.reload();
                                                }
                                                else {
                                                    layer.msg('删除失败！');
                                                }
                                            },
                                            error: function () {
                                                alert(arr);
                                            }

                                        })


                                    });
                                }
                                else {
                                    layer.msg('请选择需要删除的行！');
                                }
                            });
                            break;
                        case "shua":
                            table.reload('test', {
                                url: '/Bouns/BounsSet'
                            });
                            break;
                    }
                });





                //奖金记录表
                //表格加载
                table.render({
                    elem: "#Bounss",
                    id: 'Bounss',
                    url: '/BonuSR/BounsRSet',
                    method: 'get',
                    toolbar: '#toolbarDemo1',
                    title: '奖金设置表',

                    totalRow: false//开启合计行
                    , cols: [[
                        { type: 'checkbox', fixed: 'left', },
                        { field: 'BR_id', title: '奖金纪录编号', width: 120., fixed: 'left', sort: true },
                        { field: 'Staff_id', title: '工号' },
                        { field: 'Staff_Name', title: '员工', sort: true },
                        { field: 'BonusName', title: '奖金名'},
                        {
                            field: 'CR_date', title: '日期', templet(row) {
                                var CR_date = row.CR_date;
                                CR_date = CR_date.substring(0, CR_date.indexOf('T'));
                                return CR_date;
                            }
                        }
                       
                        ,{ fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                    ]]
                    , page: true
                });
                //指定行 删除修改
                table.on('tool(Bounss)', function (obj) {
                    console.log(obj);
                    var layEvent = obj.event;//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    if (layEvent === 'del') {
                        var checkStatus = table.checkStatus('Bounss'),
                            //返回行的value
                            data = checkStatus.data;
                        if (data.length > 1) {
                            layer.msg('只能选择您需要删除的那一行喔亲！');
                        }
                        else {
                            var id = obj.data.BR_id;
                            layer.confirm('您确定删除这条奖金纪录吗？' + id, { icon: 1, title: '提示信息', anim: 6 }, function (index) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                //向服务器发送删除指令
                                $.ajax({
                                    url: "/BonuSR/BounsRSel",
                                    data: { id: id },
                                    type: "post",
                                    success: function (res) {
                                        if (res === 'true') {
                                            layer.msg('删除成功！');
                                        }
                                    }
                                });
                            });
                        }
                    }
                    else if (layEvent == 'edit') {
                        var checkStatus = table.checkStatus('Bounss'),
                            //返回行的value
                            data = checkStatus.data;
                        if (data.length > 2) {
                            layer.msg('只能选择您需要编辑的那一行喔亲！');
                        }
                        var id = obj.data.BR_id;
                        layer.open({
                            title: '编辑',
                            type: 2,
                            anim: 1,
                            area: ['450px', '400px'],
                            content:"/BonuSR/EditBonusR?id="+id
                        });
                    }
                });
                //根据奖金表名称查询
                form.on('submit(searche_btnS)', function (data) {
                   
                    var BonusName = $(".BonusName").val();
                    var Staff_id = $(".Staff_id").val();
                    var CR_date = $("#CR_date").val();
                    console.log(CR_date);
                    table.reload('Bounss', {
                        method: 'post',
                        url: '/BonuSR/BounsSelectS',
                        toolbar: '#toolbarDemo1',
                        title: '奖金纪录表',
                        totalRow: false//开启合计行
                        , cols: [[
                            { type: 'checkbox', fixed: 'left', },
                            { field: 'BR_id', title: '奖金纪录编号', width: 120., fixed: 'left', sort: true },
                            { field: 'Staff_id', title: '工号' },
                            { field: 'Staff_Name', title: '员工', sort: true },
                            { field: 'BonusName', title: '奖金名' },
                            {
                                field: 'CR_date', title: '日期', templet(row) {
                                    var CR_date = row.CR_date;
                                    CR_date = CR_date.substring(0,CR_date.indexOf('T'));
                                    return CR_date;
                                }
                            }
                            , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                        ]]
                        , page: {
                            curr: 1// 重载后从第一页开始
                        },
                        where: {
                            BonusName:BonusName,
                            Staff_id: Staff_id,
                            CR_date:CR_date
                        }
                    })
                    return false;  // 阻止submit的表单提交
                });
                //添加 批量删除 刷新
                table.on("toolbar(Bounss)",function (obj) {
                    switch (obj.event) {
                        case "add":
                            layer.open({
                                title: '编辑',
                                type: 2,
                                anim: 2,
                                area: ['460px', '270px'],
                                content:"/BonuSR/AddBonusR"
                            });
                            break;
                        case "delBtn":    
                                //获得表格CheckBox已经选中的行的信息
                                var checkStatus = table.checkStatus('Bounss'),
                                    //返回行的value
                                    data = checkStatus.data;
                                var arr = [];
                            for (var i = 0; i < checkStatus.data.length; i++) {
                                arr.push(checkStatus.data[i].BR_id)
                                }
                                if (data.length > 0) {
                                    layer.confirm('您确定删除序号为'+arr+'这些纪录吗？', { icon: 3, title: '提示信息' }, function (index) {
                                        $.ajax({
                                            url: "/BonuSR/RemoveS",
                                            type: "post",
                                            data: { id:arr },
                                            dataType: "Json",
                                            success: function (data) {
                                                console.log(data.state)
                                                if (data.state == "10000") {
                                                    layer.msg('删除成功！');

                                                    table.reload('Bounss', {
                                                        url: '/BonuSR/BounsRSet'
                                                    });
                                                }
                                                else {
                                                    layer.msg('删除失败!');
                                                }
                                            },
                                            error: function () {
                                                layer.msg('删除失败！');
                                            }

                                        })


                                    });
                                }
                                else {
                                    layer.msg('请选择需要删除的行！');
                                }
                          
                            break;
                           
                        case "shua":
                            table.reload('Bounss', {
                                url: '/BonuSR/BounsRSet'
                            });
                            break;
                    }
                });

            });


        </script>
        <script>

        </script>
</body>

</html>
